<div class="container">
  <div class="col-xs-4 col-xs-offset-4">

      <%= image_tag user_photo, height: 50, width: 50  %>

      <h3>Roro está trabalhando no layout dessa página</h3>

      <%= simple_form_for @volunteer do |f| %>
        <%= f.input :first_name, label: false, placeholder: "Nome" %>
        <%= f.input :last_name, label: false, placeholder: "Sobrenome" %>
        <%= f.input :address, label: false, placeholder: "Endereço" %>
        <%= f.input :description, label: false, placeholder: "Breve descrição sobre você" %>

        <!-- Necessry link to add photo to user profile -->
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <div class="text-center">
          <%= f.submit "Salvar alterações", class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>
