<!-- Form to register as a volunteer -->

<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
      <div class="text-center">
        <h3>Que ótimo que você quer ser um voluntário!</h3>
        <p>Precisamos apenas de alguns dados...</p>
      </div>
      <%= simple_form_for @volunteer do |f| %>
        <%= f.input :first_name, label: false, placeholder: "Nome" %>
        <%= f.input :last_name, label: false, placeholder: "Sobrenome" %>
        <%= f.input :address, label: false, placeholder: "Endereço" %>
        <%= f.input :description, label: false, placeholder: "Breve descrição sobre você" %>
        <div class="text-center">
          <%= f.submit "Criar Conta", class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>
