<%- if controller_name != 'sessions' %>
  <div class="text-center">
    <span>Já possui uma conta?</span>
    <%= link_to "Entrar", new_session_path(resource_name), class: "link" %>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span>Não possui uma conta?</span>
  <%= link_to "Cadastre sua ONG", new_user_registration_path(redirect_to: new_ngo_path), class: "link" %>
  <span> ou </span>
  <%= link_to "Seja um voluntário", new_user_registration_path(redirect_to: new_volunteer_path), class: "link" %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Não recebeu instruções de confirmação?", new_confirmation_path(resource_name) %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Não recebeu instruções para destravar?", new_unlock_path(resource_name) %>
<% end -%>

