<div class="container mb-40">
  <div class="card-confirm text-left">
    <div class="col-xs-12 col-sm-5 col-sm-offset-3 ">
      <h2 class="text-center">Need some help? </h2>
      <h2 class="text-center">Create a project! </h2>
      <%= simple_form_for @project do |f| %>
        <%= f.input :name, label: "What is the project\'s name?" %>
        <%= f.input :mini_description, label: 'Describe what you need the project get done!'  %>
        <%= f.input :skills, label: 'Select one of the skills you think it will be necessaty for this project',
          prompt: "-- select one --",
          collection: Project::SKILLS %>
        <%= f.input :remote, label: 'Can it be done remotly?',
          prompt: "-- select one --",
          collection: Project::REMOTE %>
        <div class="text-center">
          <%= f.button :submit, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>



