<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 text-center">
        <p class="text-left"><b>Informações gerais</b></p>
        <hr>
        <div class="info">
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <img class="ngo-logo" src="https://source.unsplash.com/350x350/?nature,water" alt="Ngo Project" class="img-resposive">
            </div>

            <div class="col-xs-12 col-md-7  ">
              <div class="ngo-title">
                <h3>Projeto: <%= @project.name %></h3>
                <p>ONG: <%= @ngo.name %></p>
                <p>Endereço: <%= @ngo.address %></p>
              </div>
            </div>
          </div>

          <div class="ngo-body">
            <p class="text-left"><b>O Projeto</b></p>

            <p class="text"> <%= @project.mini_description %></p>


            <p class="text-left"><b>Quem somos</b></p>
            <p class="text"><%= @ngo.full_description %></p>


          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <div class="participants-title">
          <p class= "text-left"><b>Participantes</b></p>
          <hr>
        </div>
        <div class="participants-body">
          <div class="row volunteers">
            <div class="col-xs-12 volunteers-images">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
            </div>
            <div class="col-xs-12 volunteers-images">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
            </div>
            <% if current_user.present? %>
              <div class="col-xs-12">
                <%=  link_to "Quero participar", match_volunteer_project_project_path, class: "btn btn-primary participe" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="vertical-margin">
          <p class= "text-left"><b>Localização</b></p>
          <hr>
          <div id="map" style="width: 100%; height: 500px;"></div>

          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

    <div class="row">
        <p><b>Projetos relacionados</b></p>
        <hr>
        <% @projects.each do |project| %>
          <% if @project.name == project.name %>
            <% next %>
          <% else %>
            <%= render 'layouts/card-project', project: project  %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
